<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LOG_LEVEL" value="DEBUG"/>
		<!-- <add key="LOG_DIRECTORY_PATH" value="C:\log"/> -->
		<!-- <add key="DATABASE_DIRECTORY_PATH" value="C:\database"/> -->
		<add key="MODEL_ID" value="gemma2:9b"/>
		<!-- Modelの種類
		mistral:latest
		gemma2:9b
		llama3.1:8b
		deepseek-r1:1.5b
		deepseek-r1:8b
		deepseek-r1:14b
		-->
	</appSettings>
</configuration>