<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 環境変数設定ファイル -->
		<add key="LOG_LEVEL" value="DEBUG"/>
		<add key="BASE_URL" value="https://api.worldoftanks.asia/wot/"/>
		<add key="APPLICATION_ID" value="0156f4fe1a465e6139a621f790046c60"/>
	</appSettings>
</configuration>